<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.graduate.demo1.dao.Poem_noteDao">

    <select id="findPoem_notesByPoem_name" parameterType="String" resultType="com.graduate.demo1.model.Poem_note">
        select * from poem_note where poem_name = #{poem_name}
    </select>
</mapper>