<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
    <link href="../static/css/style_index.css" type="text/css" rel="stylesheet"/>
    <script>
        $(function(){
            $(document).ready(function(){
                //jquery load方法加载公共头部
                $("#left_load_html").load("./main_left_bottom.html");
                $("#right_load_html").load("./sushi_introduction.html");
                //加载侧边栏
                $("#side_bar").load("./side_bar.html");
            });
        })
    </script>

    <link rel="icon" href="../static/img/favicon1.ico" type ="image/x-icon">
    <title>苏东坡编年地图可视化系统</title>
</head>
<body>
<div id="main_content">
    <div id="main_left">
        <div id="main_left_top"><img src="../static/img/sushi2.png" width="100%"></div>
        <div id="main_left_bottom">
            <div id="main_left_bottom_first">
                <br>
                <h5 class="text-secondary">本系统共记载苏东坡二十八段经历</h5>
            </div>
            <div id="main_left_bottom_second">
                <hr>
                <div id="left_load_html">

                </div>
            </div>
        </div>
    </div>
    <div id="main_mid_top"><img src="../static/img/title.PNG" width="95%" height="17%"></div>
    <div id="main_mid"></div>
    <div id="main_right">
        <div id="right_city"><h3><span class="badge badge-danger-my">苏轼（苏东坡）</span></h3></div>
        <div id="right_info"><span class="text-primary">1036年12月19日--1101年7月28日【农历】</span></div>
        <hr class="bg-green">
        <div class="right_content" id="right_load_html">

        </div>
    </div>
</div>
<div id="side_bar"></div>
<script src="../static/js/echarts-3.4.0.js"></script>
<script src="../static/js/bmap.js"></script>

<script src="../static/js/jquery-2.0.0.js"></script>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=0UqXGL98FSmi22w2Rl6HK56I"></script>
<script type="module">
    import style_map from "../static/js/style_map.js";
    import city_position from "../static/js/cityPosition.js";
    import zeroData from "../static/js/zeroData.js"
    import linesData from "../static/js/linesData.js";

    var myChart = echarts.init(document.getElementById('main_mid'));

    var geoCoordMap = city_position;

    var ZeroData = zeroData;
    var FirstData = linesData.FirstData;
    var SecondData = linesData.SecondData;
    var ThirdData = linesData.ThirdData;
    var FourthData = linesData.FourthData;
    var FifthData = linesData.FifthData;
    var SixthData = linesData.SixthData;
    var SeventhData = linesData.SeventhData;
    var EighthData = linesData.EighthData;
    var NinthData = linesData.NinthData;
    var TenthData = linesData.TenthData;
    var EleventhData = linesData.EleventhData;
    var TwelfthData = linesData.TwelfthData;
    var ThirteenthData = linesData.ThirteenthData;
    var FourteenthData = linesData.FourteenthData;
    var FifteenthData = linesData.FifteenthData;
    var SixteenthData = linesData.SixteenthData;
    var SeventeenthData = linesData.SeventeenthData;
    var EighteenthData = linesData.EighteenthData;
    var NineteenthData = linesData.NineteenthData;
    var TwentiethData = linesData.TwentiethData;
    var Twenty_firstData = linesData.Twenty_firstData;
    var Twenty_secondData = linesData.Twenty_secondData;
    var Twenty_thirdData = linesData.Twenty_thirdData;
    var Twenty_fourthData = linesData.Twenty_fourthData;
    var Twenty_fifthData = linesData.Twenty_fifthData;
    var Twenty_sixthData = linesData.Twenty_sixthData;
    var Twenty_seventhData = linesData.Twenty_seventhData;
    var Twenty_eighthData = linesData.Twenty_eighthData;


    var planePath = 'path://M480 480m-416 0a6.5 6.5 0 1 0 832 0 6.5 6.5 0 1 0-832 0Z';
    var convertData = function (data) {
        var res = [];
        for (var i = 0; i < data.length; i++) {
            var dataItem = data[i];
            var fromCoord = geoCoordMap[dataItem[0].name];
            var toCoord = geoCoordMap[dataItem[1].name];
            if (fromCoord && toCoord) {
                res.push({
                    fromName: dataItem[0].name,
                    toName: dataItem[1].name,
                    coords: [fromCoord, toCoord]
                });
            }
        }
        return res;
    };

    var color = ['#a6c84c', '#ffa022', '#46bee9', '#444444', '#b93636','#f01129','#ccbb00'];
    var series = [];
    [['苏轼生平',ZeroData],['1--21岁', FirstData], ['21--22岁', SecondData], ['22--24岁', ThirdData], ['24--27岁', FourthData], ['27--28岁', FifthData], ['28--29岁', SixthData],
        ['29--32岁', SeventhData], ['32--33岁', EighthData], ['33--36岁', NinthData], ['36--37岁', TenthData], ['37--38岁', EleventhData], ['38--39岁', TwelfthData],
        ['39--43岁', ThirteenthData], ['43--44岁', FourteenthData], ['44--45岁', FifteenthData], ['45--46岁', SixteenthData], ['46--47岁', SeventeenthData], ['47--48岁', EighteenthData],
        ['48--49岁', NineteenthData], ['49--50岁', TwentiethData], ['50--54岁', Twenty_firstData], ['54--56岁', Twenty_secondData], ['56--57岁', Twenty_thirdData], ['57--58岁', Twenty_fourthData],
        ['58--59岁', Twenty_fifthData], ['59--62岁', Twenty_sixthData], ['62--65岁', Twenty_seventhData], ['65--66岁', Twenty_eighthData]].forEach(function (item, i) {
        series.push({
                name: item[0],
                type: 'lines',
                coordinateSystem: 'bmap',
                zlevel: 1,
                effect: {
                    show: true,
                    period: 3,
                    trailLength: 0.7,
                    color: '#fff',
                    symbolSize: 5,
                },
                lineStyle: {
                    normal: {
                        color: color[i],
                        width: 1,
                        curveness: 0.2
                    }
                },
                data: convertData(item[1])
            },
            {
                name: item[0],
                type: 'lines',
                coordinateSystem: 'bmap',
                zlevel: 2,
                effect: {
                    show: true,
                    period: 6,
                    trailLength: 0,
                    symbol: planePath,
                    symbolSize: 1
                },
                lineStyle: {
                    normal: {
                        color: color[i],
                        width: 1,
                        opacity: 0.4,
                        curveness: 0.2
                    }
                },
                data: convertData(item[1])
            },
            {
                name: item[0],
                type: 'effectScatter',
                coordinateSystem: 'bmap',
                zlevel: 2,
                rippleEffect: {
                    brushType: 'stroke',
                },
                label: {
                    normal: {
                        show: true,
                        position: 'bottom',
                        formatter: '{b}',
                        textStyle: {
                            fontSize:13
                        }
                    }
                },
                symbolSize: function (val) {
                    return val[2] / 8;
                },
                itemStyle: {
                    normal: {
                        color: color[i]
                    }
                },
                data: item[1].map(function (dataItem) {
                    return {
                        name: dataItem[1].name,
                        // value:dataItem[1].value
                        value: geoCoordMap[dataItem[1].name].concat([dataItem[1].value])
                    };
                })
            });
    });

    const option = {
        // backgroundColor: '#404a59',
        title: {
            text: '苏东坡编年地图',
            subtext: '----',
            left: 'center',
            textStyle: {
                color: '#404a59'
            }
        },
        tooltip: {
            trigger: 'item',
            //
            enterable: true,
            // formatter:function(params,ticket,callback){
            //     undefined
            //     //根据业务自己拓展要显示的内容
            //     var res = "";
            //     var name = params.name;
            //     var value = params.value[params.seriesIndex + 1];
            //     res = "<span style='color:#fff;'>" + name + "</span><br/>数据：" + value;
            //     return res;
            // }
            //
        },
        legend: {
            orient: 'vertical',
            top: 'bottom',
            left: 'right',
            width:10,
            data: ['苏轼生平','1--21岁', '21--22岁', '22--24岁', '24--27岁', '27--28岁', '28--29岁', '29--32岁', '32--33岁', '33--36岁', '36--37岁', '37--38岁', '38--39岁', '39--43岁', '43--44岁', '44--45岁', '45--46岁', '46--47岁', '47--48岁', '48--49岁', '49--50岁', '50--54岁', '54--56岁', '56--57岁', '57--58岁', '58--59岁', '59--62岁', '62--65岁', '65--66岁'],
            textStyle: {
                color: 'rgb(185,54,54)',
                fontSize:15
            },
            selectedMode: 'single'
        },
        dataRange: {
            min: 0,
            max: 100,
            x: 'right',
            calculable: false,
            // color: ['#ff3333', 'orange', 'yellow', 'lime', 'aqua'],
            color: ['#d5554e', 'rgba(237,147,64,0.91)', 'rgba(226,203,91,0.89)', 'rgba(13,167,19,0.76)', 'rgba(57,158,251,0.42)'],
            textStyle: {
                color: '#fff'
            }
        },
        bmap: {
            mapStyle: {
                styleJson: style_map
            },
            center: [111, 35],
            zoom: 6,
            roam: true
        },
        series: series
    };
    myChart.setOption(option);

    myChart.on('click', function (clickparams) {
        console.log(clickparams);
        console.log("COPYRIGHT ©2022  邱枫阳  All rights reserved. ");
        var city = clickparams.name;
        var line_time = clickparams.seriesName;
        var line_fromCity = clickparams.data.fromName;
        var line_toCity = clickparams.data.toName;
        if (city!='') {
            $.get(
                "http://localhost:8080/showcity",
                {
                    city:city,
                    time:line_time
                },
                function (result) {
                    //渲染左边栏数据
                    var div0 = document.getElementById("main_left_bottom");
                    div0.innerHTML = `
                    <div id="main_left_bottom_first">
                        <br>
                        <h3 class="text-secondary">苏东坡</h3>
                        有<h1 class="text-red font-weight-bold text-mybig">${result.list_road.length}</h1>段
                        <h5 class="text-secondary">在此地的经历</h5>
                    </div>
                    <div id="main_left_bottom_second">
                        <hr>
                        <div>
                            <div>分别是：`;

                    var road_info = '';

                    result.list_road.forEach(r => {
                        var r_index = result.list_road.indexOf(r);
                        road_info += `
                        <span class="text-myhover my_margin2"  data-toggle="collapse" href="#collapse` + r_index + `" role="button" aria-expanded="false" aria-controls="collapseExample">
                        ${r.date}</span>、
                        <div class="collapse my_margin" id="collapse` + r_index + `"><span class="text-success">${r.time}：</span><span>${r.route}</span></div>
                    `;
                    });
                    road_info += `</div>
                        </div>
                    </div>`;
                    div0.innerHTML += road_info;


                    //渲染右边栏数据
                    var div = document.getElementById("main_right");
                    div.innerHTML = `<div id="right_city"><h3><span class="badge badge-danger-my">${result.city_info[0].city}</span></h3></div>`;

                    var city_info = '';
                    result.city_info.forEach(f => {
                        var index1 = result.city_info.indexOf(f);
                        city_info += `<br>
                                    <div id="right_info" data-toggle="collapse" href="#collapseExample` + index1 + `" role="button" aria-expanded="false" aria-controls="collapseExample"><span class="text-primary">${f.time}</span>，<span class="text-success">${f.age}</span></div>
                                    <hr>`;

                        var city_content = '';
                        result.city_content[index1].forEach(i => {
                            city_content +=
                                ` <div class="right_content collapse" id="collapseExample` + index1 + `">
                            <div><span>${i.date}&nbsp;&nbsp;${i.content}</span>`;
                            if (i.tip != null) {
                                city_content += `<span class="text-black-50">${i.tip}</span>`
                            }
                            ;
                            city_content += `</div>`;
                            if (i.poem_name != null) {
                                city_content += `<div class="align-my">
                                    <div class="bg-green text-align-my"><strong class="text-yellow">${i.poem_name}</strong></div>
                                    <div class="text-align-my">${i.poem_content}</div>`;

                                var index = result.city_content[index1].indexOf(i)
                                var poem_note = '';

                                result.poem_note[index1][index].forEach(e => {

                                    if (e.note_name != null && result.poem_note[index1][index].indexOf(e) == 0) {
                                        city_content += `
                                <div class="alert alert-green alert-dismissible fade show" role="alert">
                                    <strong>注释</strong><br>`
                                    }
                                    ;
                                    poem_note += `
                                <span class="text-red">《漢語大詞典》：</span>${e.note_name}&nbsp;&nbsp;&nbsp;&nbsp;<span class="text-red">拼音：</span>${e.note_pinyin}<br>${e.note_content}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <br>
                                <br>`;
                                });
                                city_content += poem_note;
                                city_content += `
                                </div>
                                <hr></div>`;
                            } else {
                                city_content += `<hr>`;
                            }
                            ;
                            city_content += `</div>
                                `
                            // }
                        });
                        city_info += city_content;
                    });
                    div.innerHTML += city_info;
                }
            );
        }
        else {
            $.get(
                "http://localhost:8080/showroute",
                {
                    time:line_time,
                    startCity:line_fromCity,
                    endCity:line_toCity
                },
                function(result) {
                    //渲染左边栏
                    var div0 = document.getElementById("main_left_bottom");
                    div0.innerHTML = `
                        <div id="main_left_bottom_first">
                            <br>
                            <h5 class="text-secondary">本系统共记载苏东坡二十八段经历</h5>
                        </div>
                        <div id="main_left_bottom_second">
                            <hr>
                            <div id="left_load_html">

                            </div>
                        </div>
                    `;
                    $("#left_load_html").load("./main_left_bottom.html");


                    //渲染右边栏
                    var route_info = document.getElementById("main_right")
                    route_info.innerHTML = `
                <div id="right_city"><h3><span class="badge badge-danger-my">苏轼（苏东坡）</span></h3></div>
                <div id="right_info"><span class="text-primary">1036年12月19日--1101年7月28日【农历】</span></div>
                <hr class="bg-green">`;
                    result.forEach(ii => {
                    route_info.innerHTML+=`
                    <div class="my_margin">
                        <h4><span class="text-primary">${ii.route_date}</span>，<span class="text-success">${ii.route_time}</span></h4>
                        `;
                        var route_flag_info = '<h5 class="my_margin">';
                        var splitList = ii.route.split(ii.route_flag);

                        for(var i= 0;i<splitList.length;i++){
                            route_flag_info+=splitList[i];
                            if (i<splitList.length-1){     //如果不是最后一段，则要加result.route_flag
                                route_flag_info+=`<span class="text-orange">${ii.route_flag}</span>`;
                            }
                        }

                        route_flag_info+=`
                        </h5>
                    </div>
                    <br/>
                `;
                    route_info.innerHTML+=route_flag_info;
                }
            );
        });}
    });
</script>
</body>
</html>