<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <title>苏东坡编年......系统之文献资料库</title>
    <link rel="icon" href="../static/img/favicon1.ico" type="image/x-icon">

    <link rel="stylesheet" href="../static/css/style_references.css">

</head>
<body class="font-sans antialiased vsc-initialized" style="background-color: #f6f6f6">
<div class="text-center p-4 px-6 flex items-center" style="background-color: #ccd6d7">
    <div class="hidden lg:block lg:w-1/4 xl:w-1/5 pr-8">
        <a href="#" class="flex justify-start pl-6">
            <img src="../static/img/favicon1.ico" width="20%" alt="logo">
        </a>
    </div>

    <div class="flex flex-grow items-center lg:w-3/4 xl:w-4/5">
		<span class="relative w-full text-5xl" style="color: white">
				苏东坡编年地图可视化系统之文献资料库
		</span>
    </div>
</div>
<!-- Main -->
<div class="flex">
    <!-- Side Nav -->

    <!-- Content -->
    <div class="flex flex-1 flex-col md:px-6 pt-10" id="content">
        <!-- Title -->
        <div class="px-6 md:px-0 flex justify-between items-center -order-1">
            <div>
                <h2 class="font-normal">文献资料 &amp; 图书</h2>
                <p class="text-grey-dark mt-2">陆续补充</p>
            </div>
        </div>
        <!-- Desktop Stats -->

        <!-- Filter -->
        <div class="px-6 md:px-0 flex items-baseline justify-between border-b-2 border-grey-light mt-6 order-0 lg:order-1">
            <h4 class="hidden md:inline-block text-grey-dark font-normal">最近更新2022.05.01</h4>
        </div>
        <!-- Library -->
        <div class="hidden px-2 pt-2 md:px-0 flex-wrap order-2 pb-8 js-tab-pane active" id="section-library">
            <div class="flex flex-row sm:flex-col items-center sm:items-start w-full xs:w-1/2 sm:w-1/3 md:w-1/5 p-4 js-book"
                 data-tippy="" onclick="goPdf('苏轼年谱（上）.pdf')">
                <img src="../static/img/苏轼年谱（上）.png" alt="book-01"
                     class="w-1/3 sm:w-full shadow-md transition-normal hover:brighter hover:translate-y-1 hover:shadow-lg hover:border-indigo">
                <div class="ml-3 sm:ml-0 w-2/3 sm:w-full">
                    <p class="text-sm my-2 font-medium sm:font-normal">苏轼年谱（上），孔凡礼撰</p>
                    <p class="block sm:hidden mt-2 mb-3 text-sm leading-medium">Eu quo donec pellentesque, urna velit.
                        Ultrices ante iaculis ligula praesent.</p>
                </div>
            </div>

            <div class="flex flex-row sm:flex-col items-center sm:items-start w-full xs:w-1/2 sm:w-1/3 md:w-1/5 p-4"
                 onclick="goPdf('01. 信息科学技术学院第十届蓝桥杯大赛校内选拔赛的通知.pdf')">
                <img src="./Personal Library - Codrops Template_files/book-02.jpg" alt="book-02"
                     class="w-1/3 sm:w-full shadow-md transition-normal hover:brighter hover:translate-y-1 hover:shadow-lg hover:border-indigo js-book"
                     data-tippy="">
                <div class="ml-3 sm:ml-0 w-2/3 sm:w-full">
                    <p class="text-sm my-2 font-medium sm:font-normal">Popeye Aug 2018</p>
                    <p class="block sm:hidden mt-2 mb-3 text-sm leading-medium">Eu quo donec pellentesque, urna velit.
                        Ultrices ante iaculis ligula praesent.</p>
                </div>
            </div>
            <div class="flex flex-row sm:flex-col items-center sm:items-start w-full xs:w-1/2 sm:w-1/3 md:w-1/5 p-4">
                <img src="./Personal Library - Codrops Template_files/book-03.jpg" alt="book-03"
                     class="w-1/3 sm:w-full shadow-md transition-normal hover:brighter hover:translate-y-1 hover:shadow-lg hover:border-indigo js-book"
                     data-tippy="">
                <div class="ml-3 sm:ml-0 w-2/3 sm:w-full">
                    <p class="text-sm my-2 font-medium sm:font-normal">Brutus Aug 2018</p>
                    <p class="block sm:hidden mt-2 mb-3 text-sm leading-medium">Eu quo donec pellentesque, urna velit.
                        Ultrices ante iaculis ligula praesent.</p>
                </div>
            </div>
            <div class="flex flex-row sm:flex-col items-center sm:items-start w-full xs:w-1/2 sm:w-1/3 md:w-1/5 p-4">
                <img src="./Personal Library - Codrops Template_files/book-04.jpg" alt="book-04"
                     class="w-1/3 sm:w-full shadow-md transition-normal hover:brighter hover:translate-y-1 hover:shadow-lg hover:border-indigo js-book"
                     data-tippy="">
                <div class="ml-3 sm:ml-0 w-2/3 sm:w-full">
                    <p class="text-sm my-2 font-medium sm:font-normal">Harnako Aug 2018</p>
                    <p class="block sm:hidden mt-2 mb-3 text-sm leading-medium">Eu quo donec pellentesque, urna velit.
                        Ultrices ante iaculis ligula praesent.</p>

                </div>
            </div>
            <div class="flex flex-row sm:flex-col items-center sm:items-start w-full xs:w-1/2 sm:w-1/3 md:w-1/5 p-4">
                <img src="./Personal Library - Codrops Template_files/book-05.jpg" alt="book-05"
                     class="w-1/3 sm:w-full shadow-md transition-normal hover:brighter hover:translate-y-1 hover:shadow-lg hover:border-indigo js-book"
                     data-tippy="">
                <div class="ml-3 sm:ml-0 w-2/3 sm:w-full">
                    <p class="text-sm my-2 font-medium sm:font-normal">Premium 2 2018</p>
                    <p class="block sm:hidden mt-2 mb-3 text-sm leading-medium">Eu quo donec pellentesque, urna velit.
                        Ultrices ante iaculis ligula praesent.</p>

                </div>
            </div>
            <div class="flex flex-row sm:flex-col items-center sm:items-start w-full xs:w-1/2 sm:w-1/3 md:w-1/5 p-4">
                <img src="./Personal Library - Codrops Template_files/book-06.jpg" alt="book-06"
                     class="w-1/3 sm:w-full shadow-md transition-normal hover:brighter hover:translate-y-1 hover:shadow-lg hover:border-indigo js-book"
                     data-tippy="">
                <div class="ml-3 sm:ml-0 w-2/3 sm:w-full">
                    <p class="text-sm my-2 font-medium sm:font-normal">Premium 4 2018</p>
                    <p class="block sm:hidden mt-2 mb-3 text-sm leading-medium">Eu quo donec pellentesque, urna velit.
                        Ultrices ante iaculis ligula praesent.</p>

                </div>
            </div>
            <div class="flex flex-row sm:flex-col items-center sm:items-start w-full xs:w-1/2 sm:w-1/3 md:w-1/5 p-4">
                <img src="./Personal Library - Codrops Template_files/book-07.jpg" alt="book-07"
                     class="w-1/3 sm:w-full shadow-md transition-normal hover:brighter hover:translate-y-1 hover:shadow-lg hover:border-indigo js-book"
                     data-tippy="">
                <div class="ml-3 sm:ml-0 w-2/3 sm:w-full">
                    <p class="text-sm my-2 font-medium sm:font-normal">Brutus Aug 2018</p>
                    <p class="block sm:hidden mt-2 mb-3 text-sm leading-medium">Eu quo donec pellentesque, urna velit.
                        Ultrices ante iaculis ligula praesent.</p>

                </div>
            </div>
        </div>
    </div>
    <!-- Profile -->
</div>
</body>
<script>
    function goPdf(bookName) {
        console.log("bookName", bookName)
        window.open('./pdfShow.html?params=' + bookName);
    }

</script>
</html>